:root {
    --primary-color: #0A3D62;
    --secondary-color: #3C91E6;
    --accent-color: #F4A261;
    --background-color: #F5F5F5;
    --text-color: #333333;
    --optional-accent: #E63946;
    font-family: "Roboto";
}

body {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

#wrapper {
    display: grid;
    grid-template-rows: 0.5fr 4fr 6fr 0.5;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
}

.section img {
    width: 2rem;
}

/* Individual sections */
/* Navbar */

.section.navbar {
    background-color: var(--primary-color);
    font-size: 1.2rem;
}

.section.navbar img {
    filter: brightness(0) invert(1);
}

.section.navbar > .content {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13%;
}

/*  Header/Hero  */

.section.header {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    height: 40rem;
    font-size: 1.2rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-left {
    width: 40%;
}

.header-image {
    display: flex;
    align-items: center;
    border: black solid 4px;
    background-color: white;
}

.header-image img {
    width: 20rem;
    /* filter: brightness(0) invert(1); */
}

/* Project section */

.project {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.projects h2 {
    margin-top: 0;
}

.projects button {
    width: 6rem;
    height: 2rem;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 1.4rem;
    cursor: pointer;
}

.project img {
    margin-top: 64px;
    margin-bottom: 32px;
    width: 50%;
    height: auto;
    border: var(--secondary-color) solid 2px;
}

.projects button:hover{
    background-color: #5AA6F0;
}

.projects button:active {
    background-color: #2C6CAB;
}

.project-left {
    width: 40%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/* Footer */

.section.footer {
    height: 5rem;
    background-color: var(--primary-color);
}
